.d-flex {
  display: flex;
}

.wrapper .page-home,
.wrapper .page-aboue,
.wrapper .page-profile,
.wrapper .page-edit-profile {
  padding: 20px;
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-list .profile-card {
  flex: 0 0;
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
}